<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>{%block title%} Ensias Formes{%endblock%}</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  {%load static%}
    <link href="{%static 'main/images/base/logo-icon.png' %}" rel="icon">
    <link href="{%static 'main/images/base/logo-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Krub:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">


  <!-- css files -->

    <link href="{%static 'main/css/base.css'%}" rel="stylesheet" type="text/css">
    <link href="{%static 'main/vendor/aos/aos.css'%}" rel="stylesheet">
    <link href="{%static 'main/vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
    <link href="{%static 'main/vendor/bootstrap-icons/bootstrap-icons.css'%}" rel="stylesheet">
    <link href="{%static 'main/vendor/boxicons/css/boxicons.min.css'%}" rel="stylesheet">
    <link href="{%static 'main/vendor/glightbox/css/glightbox.min.css'%}" rel="stylesheet">
    <link href="{%static 'main/vendor/swiper/swiper-bundle.min.css'%}" rel="stylesheet">
  
  {%block css%}{%endblock%}

</head>

<body>
    {%block bodyContent%}{%endblock%}
  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container d-md-flex py-4">

      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
          &copy; Copyright <strong><span>ADNANE EZ-ZAIM & REDOUANE KARZAZI</span></strong>. ENSIAS FORMES
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!--  JS Files -->
    <script src="{% static 'main/vendor/aos/aos.js'%}"></script>
    <script src="{% static 'main/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
    <script src="{% static 'main/vendor/glightbox/js/glightbox.min.js'%}"></script>
    <script src="{% static 'main/vendor/isotope-layout/isotope.pkgd.min.js'%}"></script>
    <script src="{% static 'main/vendor/swiper/swiper-bundle.min.js'%}"></script>
    <script src="{%static 'main/js/base.js'%}"></script>
  {%block jsScript%}{%endblock%}
  

</body>
</html>